body {
  margin: 0;
}
/* top header */
.top_header {
  background-color: #222326;
  height: 45px;
  border-bottom: 1px solid #414346;
}
.navbar-default {
  background: none;
  border: 0;
}
.navbar-nav > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #ccc;
}
/* main header */
.main_header {
  height: 235px;
  background-color: #2d3034;
}
.logo {
  height: 130px;
}
.logo img {
  height: 100px;
  width: auto;
  margin-top: 15px;
  border-radius: 10px;
}

.main_nav_border {
  border-top: 2px solid #27292d;
  border-left: 2px solid #27292d;
  border-right: 2px solid #27292d;
}

.main_nav {
  height: 45px;
  border-top: 1px solid #36393c;
}

.main_nav .nav > li > a:focus,
.main_nav .nav > li > a:hover {
  background: #393e45;
}
.main_nav .navbar-nav > li > a {
  color: #bebfc1;
}
.search_area {
  float: right;
}
.search_input {
  border: none;
  padding: 11px 10px;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  width: 130px;
}
.search_input:focus {
  border: none;
  outline: none;
  background: #fafafa;
  color: #666;
}

.search_submit {
  background: rgba(222, 222, 222, 0.1);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  transition: all 0.3s ease-in-out;
}
.search_submit:hover {
  opacity: 0.9;
}
.main_info {
  background: #fff;
  height: 58px;
  line-height: 58px;
  border-bottom: 1px solid #eee;
}
.socialarea {
  background: #3b8dbd;
}

.main_info .row {
  margin: 0;
}

.randompost strong {
  padding: 0 10px;
  background: #fff;
  padding-top: 18px;
  padding-bottom: 17px;
  color: #aaa;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
}
.randompost a {
  margin-left: 30px;
  color: #aaa;
  line-height: 24px;
  font-size: 16px;
}
.socialtxt {
  float: left;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.socialicons {
  float: right;
  height: 20px;
}
.socialicons img {
  height: 20px;
}
.socialicons a {
  text-decoration: none;
}

section .row {
  margin: 0;
}

.sidebar {
  background-color: #f0f0f0;
}

.sidebar .widget {
  border-bottom: 1px solid #e0e0e0;
}
.widget_title {
  line-height: 1.5em;
  margin: 0 0 10px;
  padding: 8px 16px;
  color: rgb(70, 70, 70);
  font-size: 20px;
}
.sidebar .widget .tagcloud {
  padding-bottom: 20px;
}
.sidebar .widget .tagcloud a {
  padding: 5px 15px;
  color: #fff;
  background: rgb(158, 202, 78);
}
